@model dfdev.Plugin.Widgets.AdvancedAdminSearch.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName("Widgets.AdvancedAdminSearch.Configure");
}

<form asp-controller="AdvancedAdminSearch" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SearchOrders" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SearchOrders" />
                        <span asp-validation-for="SearchOrders"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="MaxOrderResults" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MaxOrderResults" />
                        <span asp-validation-for="MaxOrderResults"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SearchCustomerEmails" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SearchCustomerEmails" />
                        <span asp-validation-for="SearchCustomerEmails"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SearchCustomerNames" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SearchCustomerNames" />
                        <span asp-validation-for="SearchCustomerNames"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="MaxCustomerResults" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MaxCustomerResults" />
                        <span asp-validation-for="MaxCustomerResults"></span>
                    </div>
                </div>
                <hr />
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SearchProductSkus" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SearchProductSkus" />
                        <span asp-validation-for="SearchProductSkus"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="MaxProductResults" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MaxProductResults" />
                        <span asp-validation-for="MaxProductResults"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>